# cd aliases
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'

# grep aliases
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# ls aliases
alias l='ls'
alias la='ls -hla'
alias ll='ls -hl'
alias laf='la | grep "^-"' # only files
alias lad='la | grep "^d"' # list directories
alias lal='la | grep "^l"' # list links

# docker aliases
alias docker-nuke='docker system prune -f --all --volumes'

# more aliases
alias aliases="alias | sed 's/=.*//'"
alias cls='clear;ls'
alias df='df -H'
type colordiff >/dev/null 2>&1 && alias diff='colordiff'
alias functions='declare -f | grep "^[a-z].* ()" | sed "s/{$//"'
alias killjobs='kill -9 $(jobs -p)'
alias mount='mount | column -t'
alias myip='dig +short myip.opendns.com @resolver1.opendns.com'
alias p.='(pstorm $PWD &>/dev/null &)'
alias path='echo -e ${PATH//:/\\n}'
alias please='sudo "$BASH" -c "$(history -p !!)"'
alias rmgit='find . -type d -name .git | xargs rm -rf'
alias rmsvn='find . -type d -name .svn | xargs rm -rf'
alias sockets='lsof -i'
alias svim='sudo vim'
alias tohex='printf "%x\n"'
alias tooct='printf "%o\n"'
alias trim="sed -e 's/^[[:space:]]*//g' -e 's/[[:space:]]*\$//g'"
alias vi='vim'
alias wcr='wc `find . -type f`'
alias wget='wget -c'

# if user is not root, pass all commands via sudo #
if [ $UID -ne 0 ]; then
    alias halt='sudo /sbin/halt'
    alias poweroff='sudo /sbin/poweroff'
    alias reboot='sudo /sbin/reboot'
    alias shutdown='sudo /sbin/shutdown'
fi

