# add color to the terminal output
export CLICOLOR=1
#export LSCOLORS='GxFxCxDxBxegedabagaced'

# vim as the default editor
export EDITOR='vim'
export VISUAL='vim'

# grep with color (violet)
export GREP_COLOR='mt=1;35;40'

# history: don't duplicate lines, nor lines starting with space
export HISTCONTROL='ignoreboth:erasedups'

# history: be explicit about file path
export HISTFILE=~/.bash_history

# history: in memory history size
export HISTSIZE=8192

# history: on disk history size
export HISTFILESIZE=8192

# Ignore specific commands from being saved in history
export HISTIGNORE="&:[bf]g:cls:exit:jobs:l"

# history: display the timestamp along with the command
#export HISTTIMEFORMAT='%F %T '

# US English and UTF-8
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# don’t clear the screen after quitting a manual page
export MANPAGER='less -X'

# checks current architecture
[ -z "$ARCH" ] && export ARCH=$(uname -m)

# path for xdg base directory specification
export XDG_BIN_HOME="$HOME/.local/bin"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
