[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	ignorecase = false
	pager = less -R

[init]
	defaultBranch = main

[pull]
    rebase = false

[push]
    default = current

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[alias]
	# Daily basics shortcuts
	a = add
	br = branch -v
	c = clone --recursive
	ca = !git add -A && git commit -av
	ci = commit -v
	df = diff --color
	co = checkout
	fp = fetch --all --prune
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --stat
	ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	go = "!f() { git switch -c \"$1\" 2>/dev/null || git switch \"$1\"; }; f"
	pu = pull --rebase
	rb = rebase -i
	rt = restore
	rup = remote update --prune
	st = status --branch --short --untracked-files=normal
	up = push -u origin HEAD
	vdf = difftool -t vimdiff -y

	# Other utilities
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	branches = branch -a
	brclean = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d
	changeset = !sh -c 'git diff --stat $1^..$1' -
	churn = "!f() { git log --format=format: --name-only --since=${1:-12.month} | egrep -v \"^$\" | sort | uniq -c | sort -nr | head -${2:-50}; }; f"
	coprev = !git checkout HEAD^
	conext = !git checkout `git log --reverse --ancestry-path HEAD..master | head -n 1 | cut -d ' ' -f 2`
	cohead = !git checkout `git log --branches -1 --pretty=format:'%D' |cut -d ',' -f 2`
	coinit = !git checkout `git log --oneline|tail -n1 |cut -d ' ' -f 1`
	ignored = !git status --ignored -s | grep '!!' | cut -d' ' -f2
	last = log --abbrev-commit -1 HEAD
	pushf = push --force-with-lease
	remotes = remote -v
	tags = tag -l
	top = shortlog -nsw -e
	unpushed = log --branches --not --remotes --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = restore --staged
	vommit = commit
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
	who = !git config -l --name-only | grep -E 'user.+' | xargs -n1 git config --get

# include additional custom configuration for git users and/or organizations
[include]
	path = ~/.dotfiles/._system/custom/.gitconfig
