._system/osx/.brewfile.lock.json
._system/custom
.bin/.unused
.config/*
!.config/alacritty
!.config/curlrc
!.config/git
!.config/nano
!.config/readline
!.config/screen
!.config/tmux
!.config/wget
.irssi/irclogs
!.irssi/irclogs/.gitkeep
.irssi/scripts
!.irssi/scripts/.gitkeep
.ssh/*
!.ssh/config
!.ssh/config.d/.gitkeep
.wallpaper/*
!.wallpaper/.gitkeep
