._system/osx/.brewfile.lock.json
._system/custom/*
!._system/custom/.gitkeep
.bin/.unused
.config/*
!.config/alacritty
.irssi/irclogs
!.irssi/irclogs/.gitkeep
.irssi/scripts
!.irssi/scripts/.gitkeep
.ssh/*
!.ssh/config
!.ssh/config.d/.gitkeep
.wallpaper/*
!.wallpaper/.gitkeep
