[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	ignorecase = false
	pager = less -R

[pull]
    rebase = false

#[push]
#    default = current

[color]
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[alias]
	br = branch
	co = checkout
	ci = commit
	df = diff
	st = status --branch --short --untracked-files=normal
	up = pull --rebase
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	changeset = !sh -c 'git diff --stat $1^..$1' -
	churn = "!f() { git log --format=format: --name-only --since=${1:-12.month} | egrep -v \"^$\" | sort | uniq -c | sort -nr | head -${2:-50}; }; f"
	coprev = !git checkout HEAD^
	conext = !git checkout `git log --reverse --ancestry-path HEAD..master | head -n 1 | cut -d ' ' -f 2`
	cohead = !git checkout `git log --branches -1 --pretty=format:'%D' |cut -d ',' -f 2`
	coinit = !git checkout `git log --oneline|tail -n1 |cut -d ' ' -f 1`
	ignored = !git status --ignored -s | grep '!!' | cut -d' ' -f2
	last = log --abbrev-commit -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	tags = tag -l
	top = shortlog -nsw -e
	unpushed = log --branches --not --remotes --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	vommit = commit
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

# include additional custom configuration for git users and/or organizations
[include]
	path = ~/.dotfiles/._system/custom/.gitconfig
